@import url(article.css);
@import url(profile.css);

:root {
  --color-light-gray: #e3e2e2;
  --color-medium-gray: #979797;
  --color-dark-gray: #2d2d2d;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(216, 216, 216); */
  background-color: rgb(255, 255, 255);
  margin: 0;
  color: var(--color-dark-gray);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 136, 92);
  color: rgb(248, 248, 248);
  z-index: 5;
}

h1 a {
  color: var(--color-light-gray);
  text-decoration: none;
}

h2 {
  text-align: center;
}

main {
  /* padding: 20px; */
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
}

footer {
  padding: 0;
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100%;
}

menu {
  padding: 0;
  margin: 0;
}

menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--color-light-gray);
}

menu ul li {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: var(--color-light-gray);
  font-size: 1.5rem;
  padding: 0.75rem 0;
  border-top: 2px solid var(--color-dark-gray);
  max-width: 7rem;
  & a {
    color: var(--color-dark-gray);
  }
}
menu ul li:hover {
  background-color: var(--color-medium-gray);
}
