* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(216, 216, 216); */
  background-color: rgb(255, 255, 255);
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 136, 92);
  color: rgb(248, 248, 248);
  z-index: 5;
}

h1 a {
  color: #e3e3e3;
  text-decoration: none;
}

h2 {
  text-align: center;
}

main {
  /* padding: 20px; */
  margin: 120px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article {
  position: relative;
  box-shadow: 5px 5px 8px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

/* article:hover {
  box-shadow: 7px 7px 8px #888888;
} */

article .bookmark {
  position: absolute;
  top: -10px;
  right: 20px;
  z-index: 3;
  font-size: 2rem;
  color: #e3e3e3;
}

article .bookmark:hover {
  color: #979797;
}

.article-fav .bookmark {
  color: #c30000;
}

article .headline {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

article button {
  font-size: 1.5rem;
  /* font-weight: bold; */
  margin: 10px 0;
  border-radius: 0;
  border: 1px solid black;
  padding: 5px 10px;
}

article button:hover {
  border: 3px solid black;
  margin: 8px;
}

article .answer {
  font-size: 1.2rem;
  display: none;
  margin: 20px 0;
}
article .answer::before {
  content: '"';
}
article .answer::after {
  content: '"';
}

article .tags {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  gap: 5px;
  padding-inline-start: 00px;
  margin: 0;
  margin-top: 20px;
}

article .tags .tag {
  background-color: rgb(170, 170, 170);
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 0.75rem;
}

article .tags .tag::before {
  content: "#";
}

footer {
  padding: 0;
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100%;
}

menu {
  padding: 0;
  margin: 0;
}

menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

menu ul li {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: rgb(225, 225, 225);
  font-size: 1.5rem;
  padding: 10px 0;
  border-top: 2px solid #1f1f1f;
  & a {
    color: rgb(21, 21, 21);
  }
}
menu ul li:hover {
  background-color: #979797;
}
